@import url('https://fonts.cdnfonts.com/css/industry-test');

@mixin main-font() {
    font-family: "Industry Test", sans-serif;
}

@mixin sec-font() {
    font-family: 'Bombardier', sans-serif;
}

@mixin large() {
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
}

@mixin medium() {
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}

@mixin small() {
    font-size: 24px;
    font-weight: 100;
    line-height: 20px;
}

@mixin vsmall() {
    font-size: 16px;
}

@mixin task3($height: 150px, $width: 250px, $color: white, $bgcolor: #2E2E2E) {
    height: $height;
    width: $width;
    color: $color;
    background-color: $bgcolor;
}

.title1 {
    @include large();
    @include main-font();
}

.title2 {
    @include large();
    @include main-font();
}

.title3 {
    @include large();
    @include main-font();
}

.title4 {
    @include large();
    @include main-font();
}

.title5 {
    @include large();
    @include main-font();
}

.paragraph1 {
    @include sec-font();
    @include large();
}

.paragraph2 {
    @include sec-font();
    @include medium();
}

.paragraph3 {
    @include sec-font();
    @include medium();
}

.paragraph4 {
    @include sec-font();
    @include small();
}

.paragraph5 {
    @include sec-font();
    @include small();
}

.div1 {
    @include task3();
    @include sec-font();
}

.div2 {
    margin-top: 20px;
    @include task3(100px, 200px, black, gray);
    @include sec-font();
}

@media screen and (max-width: 1024px) {
    
    .paragraph1 {
        @include medium();
    }
    
    .paragraph2 {
        @include small();
        color: aqua;
    }
    
    .paragraph3 {
        @include small();
    }
}

@media screen and (max-width: 780px) {
    .title1 {
        @include medium();
    }
    
    .title2 {
        @include medium();
    }
    
    .title3 {
        @include medium();
    }
    
    .title4 {
        @include medium();
    }
    
    .title5 {
        @include medium();
        color: green;
    }
}

@media screen and (max-width: 400px) {
    .title1 {
        @include small();
    }
    
    .title2 {
        @include small();
    }
    
    .title3 {
        @include small();
    }
    
    .title4 {
        @include small();
    }
    
    .title5 {
        @include small();
    }

    .paragraph1 {
        @include vsmall();
        color: #663399;
    }
    
    .paragraph2 {
        @include vsmall();
    }
    
    .paragraph3 {
        @include vsmall();
    }

    .paragraph4 {
        @include vsmall();
        @include main-font();
    }

    .paragraph5 {
        @include vsmall();
    }
    
}